@import "../../styles/variables.scss";

.toggle-menu{
  background-color: $color-purple-main;
  height: 100vh;
  width: 10em;
  position: relative;
  transition: all 0.2s;
}

.toggle-menu.closed{
  width: 5em;
  transition: all 0.2s;

  & .toggle-menu__item{
    justify-content:center;
  }

  & .toggle-menu__project-name{
    transform: rotate(90deg);
    border: none;
  }

}

.toggle-menu::before{    
  content: "";
  position: absolute;
  background-color: white;
  top: -1.1em;
  height: 50px;
  right: -33px;
  width: 1em;
  border-bottom-left-radius: 1em;
  box-shadow: 0 1em 0 0 $color-purple-main;
  transform: rotate(90deg);
}

.toggle-menu::after{    
  content: "";
  position: absolute;
  background-color: white;
  bottom: -1.1em;
  height: 50px;
  right: -33px;
  width: 1em;
  border-bottom-right-radius: 1em;
  box-shadow: 0 1em 0 0 $color-purple-main;
  transform: rotate(90deg);
}

.toggle-menu__item{
  color: white;
  text-align: right;
  text-decoration: none;
  font-size: 1.5em;
  padding: .375em .5em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: $color-purple-main;
  height: 2em;
  & > svg{
    margin-right: .5em;
  }

  &:hover:not(.toggle-menu__item-active){
    color: $color-purple-stronger;
    & svg{
      color: $color-purple-stronger;
    }
  }
}

.toggle-menu__item-active{
  background-color: white;
  color: $color-purple-main;
  border-radius: $border-circle;
  position: relative;
}

.toggle-menu__item-active::after{    
  content: "";
  position: absolute;
  background-color: $color-purple-main;
  top: -50px;
  height: 50px;
  right: 0;
  width: 1em;
  border-bottom-right-radius: 1em;
  box-shadow: 0 1em 0 0 white;
}

.toggle-menu__item-active::before{    
  content: "";
  position: absolute;
  background-color: $color-purple-main;
  bottom: -50px;
  height: 50px;
  right: 0;
  width: 1em;
  border-top-right-radius: 1em;
  box-shadow: 0 -1em 0 0 white;
}

.toggle-menu__project-name{
  color: white;
  font-size: 2em;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: .2s;
  border: 4px solid #FFFFFF;
  margin: 1em 1em 5em 1em;
}

.toggle-menu__project-name:hover{
  transition: .2s;
  color: $color-purple-stronger;
  border-color: $color-purple-stronger;
}

.toggle-menu__items-container{
  width: 100%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
}