@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

#root{
  display: flex;
}

body{
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

.content{
  width: calc(100vw - 15em)
}